src/main/resources/HolamundoWSDL.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://serviciosaxis2.ejemplos.blogs.org"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                         xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
                         xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
                         xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
                         xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust"  
                         xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
                         xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"	
	targetNamespace="http://serviciosaxis2.ejemplos.blogs.org">
	<wsdl:types>
		<xs:schema xmlns:ax24="http://serviciosaxis2.ejemplos.blogs.org/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://serviciosaxis2.ejemplos.blogs.org">
			<xs:element name="holaati">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="persona" nillable="true"
							type="ns:Persona"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="holaatiResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="ns:PersonaRespuesta"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Persona">
				<xs:sequence>
					<xs:element minOccurs="0" name="apellidos" nillable="true"
						type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="nombre" nillable="true"
						type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PersonaRespuesta">
				<xs:sequence>
					<xs:element minOccurs="0" name="saludo" nillable="true"
						type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="holaatiFault">
				<xs:complexType>
					<xs:sequence>

						<xs:element name="holaatiFault"
							type="xs:string">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="holaatiResponse">
		<wsdl:part name="parameters" element="ns:holaatiResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="holaatiRequest">
		<wsdl:part name="parameters" element="ns:holaati">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="holaatiFault">
		<wsdl:part name="parameters" element="ns:holaatiFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HolamundoPortType">
		<wsdl:operation name="holaati">
			<wsdl:input message="ns:holaatiRequest" wsaw:Action="urn:holaati">
			</wsdl:input>
			<wsdl:output message="ns:holaatiResponse" wsaw:Action="urn:holaatiResponse">
			</wsdl:output>
            <wsdl:fault name="fault" message="ns:holaatiFault"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HolamundoSoap11Binding"
		type="ns:HolamundoPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
			<wsp:PolicyReference URI="#UsersBindingPolicy"/>
		<wsdl:operation name="holaati">

			<soap:operation
				soapAction="http://serviciosaxis2.ejemplos.blogs.org/holaati" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="HolamundoSoap12Binding"
		type="ns:HolamundoPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
			<wsp:PolicyReference URI="#UsersBindingPolicy"/>
		<wsdl:operation name="holaati">

			<soap:operation
				soapAction="http://serviciosaxis2.ejemplos.blogs.org/holaati" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="HolamundoHttpBinding"
		type="ns:HolamundoPortType">

		<http:binding verb="POST" />
		<wsp:PolicyReference URI="#UsersBindingPolicy"/>
		<wsdl:operation name="holaati">

			<http:operation location="/holaati" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />

			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
			<wsdl:fault name="fault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HolamundoWSDL">
		<wsdl:port name="HolamundoHttpsEndpoint" binding="ns:HolamundoHttpBinding">
			<http:address
				location="https://localhost:9445/services/HolamundoWSDL.HolamundoHttpsEndpoint/"></http:address>
		</wsdl:port>
		<wsdl:port name="HolamundoHttpEndpoint" binding="ns:HolamundoHttpBinding">
			<http:address
				location="http://localhost:9765/services/HolamundoWSDL.HolamundoHttpEndpoint/"></http:address>
		</wsdl:port>
		<wsdl:port name="HolamundoHttpSoap11Endpoint" binding="ns:HolamundoSoap11Binding">
			<soap:address
				location="http://localhost:9765/services/HolamundoWSDL.HolamundoHttpSoap11Endpoint/"></soap:address>
		</wsdl:port>
		<wsdl:port name="HolamundoHttpsSoap12Endpoint" binding="ns:HolamundoSoap12Binding">
			<soap12:address
				location="https://localhost:9445/services/HolamundoWSDL.HolamundoHttpsSoap12Endpoint/"></soap12:address>
		</wsdl:port>
		<wsdl:port name="HolamundoHttpsSoap11Endpoint" binding="ns:HolamundoSoap11Binding">
			<soap:address
				location="https://localhost:9445/services/HolamundoWSDL.HolamundoHttpsSoap11Endpoint/"></soap:address>
		</wsdl:port>
		<wsdl:port name="HolamundoHttpSoap12Endpoint" binding="ns:HolamundoSoap12Binding">
			<soap12:address
				location="http://localhost:9765/services/HolamundoWSDL.HolamundoHttpSoap12Endpoint/"></soap12:address>
		</wsdl:port>
	</wsdl:service>
	<wsp:Policy wsu:Id="UsersBindingPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<sp:TransportBinding>
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax/>
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp/>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic128/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:SignedSupportingTokens>
					<wsp:Policy>
						<sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssUsernameToken10/>
							</wsp:Policy>
						</sp:UsernameToken>
					</wsp:Policy>
				</sp:SignedSupportingTokens>
				<sp:Wss11/>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>	
</wsdl:definitions>